.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-bottom-inherit {
  margin-bottom: inherit;
}

.product-description {
  height: 250px;
}

.no-wrap {
  flex-wrap: nowrap;
}

.overflow-inherit {
  overflow: inherit !important;
}

.overflow-wrap-normal {
  overflow-wrap: normal
}

.h-85 {
  height: 85%;
}

.vh-25 {
  height: 25vh;
}

.react-datepicker-popper {
  z-index: 2;
}

.react-datepicker-wrapper {
  width: 100%;
}