.retailers {
  flex-wrap: nowrap;
}

.calculated-fields-title-background {
  background-color: #9867c5;
}

.calculated-fields-background {
  background-color: #faf7ff;
}

.table-column-titles {
  position: sticky;
  top: 20px;
  height: 100px;
  z-index: 1;
}